body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container .row .col-xs-4{
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
  padding:16px;
}
.container .row .col-xs-8{
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
  padding:16px;
}